.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}
.vidio{
  mix-blend-mode:lighten;
  opacity: 3;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.devloper{
  font-size: 30px;
  text-align: center;
  color: whitesmoke;
  font-family: sans-serif;
  background-color: rgba(9, 69, 128, 0.3);
  border-radius: 30px;
  padding: 20px ;
  width: 74%;
  height: 210px;
  margin-right:20px;
}
.text-div{
  display:flex;
  justify-content: space-evenly;
}
.text{
  text-align: center;
  font-size: 22px;
  background-color: rgba(9, 69, 128, 0.3);
  font-weight: 100;
  color: whitesmoke;
  border-radius: 30px;
  width: 60%;
  height: 400px;
  display: grid;
  place-items:center;
  line-height: 30px;
}
.svgs-left,.svgs-right{
  background-color:rgba(9, 69, 128, 0.3);
  width: 210px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px 0px 20px rgba(0,0,0,0.4);
  transition: transform 2s ease;
}
.svgs-left:hover{
  transform: translatex(5px);
  background-color: rgba(0,231,255,0.4);
}
.svgs-right:hover{
  transform: translatex(-5px);
}
.svg-text{
  color: whitesmoke;
  font-family:sans-serif;
  font-weight: 500;
  margin-top: 8px;
}
.next-js  {
    color: whitesmoke;
}

}
