.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}
.vidio{
  mix-blend-mode:lighten;
  opacity: 3;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.devloper{
  font-size: 30px;
  text-align: center;
  color: whitesmoke;
  font-family: sans-serif;
  background-color: rgba(9, 69, 128, 0.3);
  border-radius: 30px;
  padding: 20px ;
  width: 74%;
  height: 210px;
  margin-right:20px;
}

